### Analysis of used cars
We are provided with the Used Cars Dataset collected by Craigslist, CSV file downloaded from https://www.kaggle.com/datasets/austinreese/craigslist-carstrucks-data, contributed by Austin Reese.

Print the length of the data before cleaning data

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

df = pd.read_csv('files/vehicles.csv')
print(df.head())
print(df.count())
print(df.shape)

           id                                                url  \
0  7222695916  https://prescott.craigslist.org/cto/d/prescott...
1  7218891961  https://fayar.craigslist.org/ctd/d/bentonville...
2  7221797935  https://keys.craigslist.org/cto/d/summerland-k...
3  7222270760  https://worcester.craigslist.org/cto/d/west-br...
4  7210384030  https://greensboro.craigslist.org/cto/d/trinit...

                   region                         region_url  price  year  \
0                prescott    https://prescott.craigslist.org   6000   NaN
1            fayetteville       https://fayar.craigslist.org  11900   NaN
2            florida keys        https://keys.craigslist.org  21000   NaN
3  worcester / central MA   https://worcester.craigslist.org   1500   NaN
4              greensboro  https://greensboro.craigslist.org   4900   NaN

  manufacturer model condition cylinders  ... size  type paint_color  \
0          NaN   NaN       NaN       NaN  ...  NaN   NaN         NaN
1          NaN   NaN       NaN       NaN  ...  NaN   NaN         NaN
2          NaN   NaN       NaN       NaN  ...  NaN   NaN         NaN
3          NaN   NaN       NaN       NaN  ...  NaN   NaN         NaN
4          NaN   NaN       NaN       NaN  ...  NaN   NaN         NaN

  image_url description county state lat long posting_date
0       NaN         NaN    NaN    az NaN  NaN          NaN
1       NaN         NaN    NaN    ar NaN  NaN          NaN
2       NaN         NaN    NaN    fl NaN  NaN          NaN
3       NaN         NaN    NaN    ma NaN  NaN          NaN
4       NaN         NaN    NaN    nc NaN  NaN          NaN

[5 rows x 26 columns]
id              426880
url             426880
region          426880
region_url      426880
price           426880
year            425675
manufacturer    409234
model           421603
condition       252776
cylinders       249202
fuel            423867
odometer        422480
title_status    418638
transmission    424324
VIN             265838
drive           296313
size            120519
type            334022
paint_color     296677
image_url       426812
description     426810
county               0
state           426880
lat             420331
long            420331
posting_date    426812
dtype: int64
(426880, 26)

In [16]:
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

### Cleaning data
- drop columns 'id','url','region_url','image_url','county','posting_date'
- remove missing data

In [17]:
df_1 = df.drop(['id','url','region_url','image_url','county','posting_date','lat', 'long','description','VIN'], axis=1)
df_2 = df_1.dropna(subset=['region', 'price', 'year', 'manufacturer','model','condition','cylinders','fuel','odometer','title_status','transmission','drive','size','type','paint_color','state'])
df_clean = df_2[~df_2['price'].isin([0])]
df_clean.shape

(75738, 16)

In [18]:
df_clean.head()

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state
31,auburn,15000,2013.0,ford,f-150 xlt,excellent,6 cylinders,gas,128000.0,clean,automatic,rwd,full-size,truck,black,al
55,auburn,19900,2004.0,ford,f250 super duty,good,8 cylinders,diesel,88000.0,clean,automatic,4wd,full-size,pickup,blue,al
59,auburn,14000,2012.0,honda,odyssey,excellent,6 cylinders,gas,95000.0,clean,automatic,fwd,full-size,mini-van,silver,al
65,auburn,22500,2001.0,ford,f450,good,8 cylinders,diesel,144700.0,clean,manual,rwd,full-size,truck,white,al
73,auburn,15000,2017.0,dodge,charger rt 4dr sedan,excellent,8 cylinders,gas,90000.0,rebuilt,automatic,rwd,mid-size,sedan,grey,al

In [19]:
# sns.pairplot(df_clean)

### Descriptive statistics
with the cleaned data df_clean, data summarization showed as below:
- total number of unique region, unique year, unique manufacturer, unique model
- descriptive statistics, e.g.,the total number, mean, std, min and max regarding all price records
- descriptive statistics, e.g., mean, std, max, and min of the number of price by model
- descriptive statistics, e.g., mean, std, max, min of the number of ratings that received by each movie

In [20]:
# Q2.1 total number of unique region, unique year, unique manufacturer, unique model
total_reg = df_clean['region'].nunique()
total_model = df_clean['model'].nunique()
total_manuf = df_clean['manufacturer'].nunique()
total_type = df_clean['type'].nunique()
total_size = df_clean['size'].nunique()
total_color = df_clean['paint_color'].nunique()
total_fuel = df_clean['fuel'].nunique()
total_cylinder = df_clean['cylinders'].nunique()
print(f'total number of unique region: {total_reg}')
print(f'total number of unique model: {total_model}')
print(f'total number of unique manufacturer: {total_manuf}')
print(f'total number of unique type: {total_type}')
print(f'total number of unique size: {total_size}')
print(f'total number of unique paint_color: {total_color}')
print(f'total number of unique fuel: {total_fuel}')
print(f'total number of unique cylinder: {total_cylinder}')

total number of unique region: 403
total number of unique model: 9267
total number of unique manufacturer: 41
total number of unique type: 13
total number of unique size: 4
total number of unique paint_color: 12
total number of unique fuel: 5
total number of unique cylinder: 8

In [21]:
# df_clean.groupby("region").describe()['price']

In [22]:
# df_clean.groupby("year").describe()['price']

In [23]:
# df_clean.groupby("manufacturer").describe()['price']

In [24]:
# df_clean.groupby("model").describe()['price']

In [25]:
# drop models which count less than 10
df_clean2 = df_clean.groupby('model').filter(lambda x : len(x)>=20)
df_clean2.shape

(51152, 16)

In [28]:
# Convert the categorical features (i.e., gender, genre and occupation) into numerical values
from sklearn.preprocessing import OrdinalEncoder

# convert categorical values into numerial values, e.g., genre -> genre_code
ord_enc = OrdinalEncoder(dtype=int)
df_clean2[["condition_code","model_code","condition_code","cylinders_code","fuel_code","title_status_code","transmission_code","drive_code","size_code","type_code","paint_color_code","state_code"]] = ord_enc.fit_transform(df_clean2[["condition","model","condition","cylinders","fuel","title_status","transmission","drive","size","type","paint_color","state"]])
df_clean2[["condition_code","model_code","condition_code","cylinders_code","fuel_code","title_status_code","transmission_code","drive_code","size_code","type_code","paint_color_code","state_code"]].head(2)

,condition_code,model_code,condition_code,cylinders_code,fuel_code,title_status_code,transmission_code,drive_code,size_code,type_code,paint_color_code,state_code
31,0,237,0,5,2,0,0,2,1,10,0,1
55,2,262,2,6,0,0,0,0,1,8,1,1